<!doctype html>
<html lang="en">
		<head>
			<title>100+ heavy duty plano milling job work in Ambattur Industrial Estate such as machining, shaping, slotting and surface grinding</title>
			<!-- Required meta tags -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="We offer Plano milling job work in Ambattur industrial estate such as machining, shaping, slotting, plano Milling, surface grinding and tool room related works">
			<meta name="keywords" content="Milling, Machining, Milling Process, shaping, Horizontal Milling, Metalworking, milling operation, milling machine parts, plano mills, plano, mills, slot, slotting, grinding, surface, smooth, surface grinding to make smooth grinding of surface, Maintenance , tool, tool room for Maintenance of a job, Work Piece Material, hardening, hardening of EM24, OHNS, HCHCr, DQ Metal, Machining, maintaining, thickness, such as square, rectangle etc, lathe machines, machining centers, milling machines, surface grinders, machine tools, cnc, cnc machines, machinery sales, machine tools for sale, machine tool directory, machine tool auctions, new machine tools, cnc mill, micro mill, micro lathe, metal lathe,  engineering supplies, model engineer supplies, model engineering, tools, material removal process, Bed type, Planer-style, Tracer controlled,  work table, saddle, head, knee, and over arm, complicated shapes, using multi-tooth and single point cutting tools, metal workpiece, revolving cutter">
			<meta name="robots" content="index, follow">
		
			<!-- Bootstrap CSS 4.0-->
			<link rel="stylesheet" href="css/animations.css">
			<link rel="stylesheet" href="css/bootstrap.min.css">
			<link rel="stylesheet" href="css/navbar-fixed-top.css">
			<link rel="stylesheet" href="css/style.css">
			<link rel="stylesheet" href="css/carousel.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
		
		
			<link rel="apple-touch-icon" sizes="57x57" href="images/fav/apple-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="60x60" href="images/fav/apple-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="72x72" href="images/fav/apple-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="76x76" href="images/fav/apple-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="114x114" href="images/fav/apple-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="120x120" href="images/fav/apple-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="144x144" href="images/fav/apple-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="152x152" href="images/fav/apple-icon-152x152.png">
			<link rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-icon-180x180.png">
			<link rel="icon" type="image/png" sizes="192x192" href="images/fav/android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96" href="images/fav/favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png">
			<link rel="manifest" href="/manifest.json">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
			<meta name="theme-color" content="#ffffff">
		
			<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
				<link rel="icon" href="images/favicon.ico" type="image/x-icon">-->
		
			<style>
				@media screen and (min-width:768px) {
					.navbar-nav {
						float: none;
						text-align: center;
					}
		
					.navbar-nav li {
						display: inline-block;
						float: none;
					}
				}
			</style>
		</head>
	
		<body>
			<div class="row" id="topbar" style="display: none;">
				<div class="col-md-1"></div>
				<div class="col-md-6 contact">
					<span class="fa-stack">
						<i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
					</span>
					100+ services for milling, slotting, lathing, surface griding process at No 12, Thiruveeti Amman Koil Street, Mannurpet, Chennai - 50
				</div>
				<div class="col-sm-2 contact">
				</div>
				<div class="col-sm-2 contact text-left">
					<span class="fa-stack">
						<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
					</span>+91 70946 62056
				</div>
			</div>
			
			<nav class="navbar navbig navbar-expand-md navbar-light bg-light">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand mb-0 h1" href="/">
							<img src='images/palogo.jpg'>
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
							aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
					
					<div class="col-md-3 contact text-center">
						<a href="#contactus" class="scroll">
							<span class="contact-number">
								<span class="fa-stack">
									<i class="fa fa-phone fa-stack-1x"></i>
								</span>+91 70946 62056
							</span>
						</a>
					</div>
				</div>
			</nav>
			
			<!--Home banner-->
			<section id="home">
				<div class="banner-fade">
					<div data-lazy-background="images/800-400/Webp.net-resizeimage_6.png">
					</div>
				</div>
			</section>

			<!-- Services -->
			<section id="about">
				<div class="container animatedParent animateOnce">
					<div class="row">
						<div class="col-lg-12 text-left">
							<h1 class="mb-4 display-6 animated bounceInLeft">About</h1>
							<!--  <h2 class="text-uppercase">Services</h2>-->
							<h4 class="section-subheading text-muted animated bounceInLeft">Who we are</h4>
						</div>
					</div>
					<div class="row text-justify">
						<div class="col-md-12 animated bounceInUp mt-2">
							<p class="">
								Palmo industries is a Plano Milling & Machining service (job service) proprietorship company located in Mannurpet near Ambattur Industrial Estate bus terminus estabilished in April 2018. 
							</p>
							<p>
								<ul>
									<li>
										The company specialized in machining light weight to heavy weight metals by offering 100+ varieties of Milling, Machining, Slotting and Surface grinding services.
									</li>
									<li>
										Palmo’s strong expertise at understanding customer needs and mapping them against its wide range of superior services, gives us a comprehensive edge in market place
									</li>
									<li>
										Since its launch in Apr 2018, Palmo has offered a continuous and committed services to various customers
									</li>
								</ul>
							</p>
						</div>
						
					</div>
					
					<div class="row mt-5">
						<h4 class="section-subheading text-muted animated bounceInLeft">Machine Specification</h4>
					</div>
					<div class="row text-justify">
						<div class="col-md-12">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th colspan=2>Plano miller - 1</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="w-5">Work Table</td>
									<td>1000 x 2500 mm</td>
								</tr>
								<tr>
									<td>Max distance travelled by Table</td>
									<td>2621 mm</td>
								</tr>
								<tr>
									<td>Horizontal</td>
									<td>1000 mm</td>
								</tr>
								<tr>
									<td>Vertical</td>
									<td>1000 mm</td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
					<div class="row text-justify">
						<div class="col-md-6">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th colspan=3>Job Capacity</th>
									</tr>
									<tr>
										<th>Size</th>
										<th>Min</th>
										<th>Max</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Length</td>
										<td>100 mm</td>
										<td>3000 mm</td>
									</tr>
									<tr>
										<td>Width</td>
										<td>70 mm</td>
										<td>1500 mm</td>
									</tr>
									<tr>
										<td>Height</td>
										<td>10 mm</td>
										<td>1000 mm</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="col-md-6">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th colspan=3>Side Cutter Capacity</th>
									</tr>
									<tr>
										<th>Size</th>
										<th>Min</th>
										<th>Max</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Length</td>
										<td>0</td>
										<td>> 600 mm</td>
									</tr>
									<tr>
										<td>Width</td>
										<td>70 mm</td>
										<td>> 600 mm</td>
									</tr>
									<tr>
										<td colspan="3" style="font-size: 0.77em;">* Up to 500 mm length & width, Job can be done in the (L) Angel plate with 'C' clamp</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="row text-justify mt-5">
						<div class="col-md-12">
						<table class="table table-bordered table-striped">
							<thead>
								<tr>
									<th colspan=2>Plano miller - 2</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="w-5">Work Table</td>
									<td>900 x 2400 mm</td>
								</tr>
								<tr>
									<td>Max distance travelled by Table</td>
									<td>2438 mm</td>
								</tr>
								<tr>
									<td>Horizontal</td>
									<td>900 mm</td>
								</tr>
								<tr>
									<td>Vertical</td>
									<td>700 mm</td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
					<div class="row text-justify">
						<div class="col-md-12">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th colspan=3>Job Capacity</th>
									</tr>
									<tr>
										<th>Size</th>
										<th>Min</th>
										<th>Max</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Length</td>
										<td>100 mm</td>
										<td>2500 mm</td>
									</tr>
									<tr>
										<td>Width</td>
										<td>70 mm</td>
										<td>900 mm</td>
									</tr>
									<tr>
										<td>Height</td>
										<td>10 mm</td>
										<td>700 mm</td>
									</tr>
									<tr>
										<td colspan="3">* Up to 500 mm length & width job can be done in the (L) Angel plate with 'C' clamp</td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div>

				</div>
			</section>
			
			<div style="height: 50px">
				<!--https://www.jqueryscript.net/demo/Animate-Elements-In-When-They-Come-Into-View-jQuery-CSS3-Animate-It-Plugin/-->
			
			</div>
			
			<!-- Contact Us -->
			<section class="pricing" id="contactus">
				<div class="container animatedParent animateOnce">
					<h1 class="mb-5 display-6 animated bounceInLeft">Contact</h1>
					<div class="row animated fadeInUp">
						<div class="col-md-5">
							<div class="address-box">
								<div class="contact-head">
									<span class="fa-stack">
										<i class="fa fas fa-address-card fa-stack-2x fa-inverse"></i>
									</span>
									<span>
										<h4>PALMO INDUSTRIES</h4>
									</span>
								</div>
			
								<div class="contactIcon">
									<span class="fa-stack">
										<i class="fa fas fa-location-arrow fa-stack-1x fa-inverse"></i>
									</span>
			
									<div class="contact-detail">No 12, Thiruveeti Amman Koil Street
										<br>Mannurpet, Chennai - 50</div>
			
								</div>
			
								<div class="contactIcon">
									<span class="fa-stack">
										<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
									</span>
									<div class="contact-detail">+91 70946 62056</div>
								</div>
			
								<div class="contactIcon">
									<span class="fa-stack">
										<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
									</span>
									<div class="contact-detail">
										<a href="mailto:gopalg20703@gmail.com">kumar.udhaya1976@gmail.com</a>
									</div>
								</div>
							</div>
						</div>
			
						<div class="col-md-7">
							<div class="card bg-light mb-3">
								<div class="card-body">
									<div class="well well-sm">
										<form class="form-horizontal" action="" method="post">
											<fieldset>
												<h2 class="mb-5 display-6">Send Email</h2>
												<legend class="text-center"></legend>
			
												<div class="col-sm-10 col-sm-12">
													<div class="form-group" style="height: 50px">
														<div class="alert alert-warning" id="div-alert" style="height: 50px;display: none">
															<span class="glyphicon glyphicon-info-sign"></span>
															<label class="control-label" id="label-alert"></label>
														</div>
													</div>
												</div>
			
												<!-- Name input-->
												<div class="form-group row">
													<label class="col-md-3 control-label" for="name">Name*</label>
													<div class="col-md-9">
														<input id="txtname" name="txtname" type="text" placeholder="Your name" class="form-control" maxlength="200">
													</div>
												</div>
			
												<!-- Email input-->
												<div class="form-group row">
													<label class="col-md-3 control-label" for="email">Your E-mail*</label>
													<div class="col-md-9">
														<input id="txtemail" name="txtemail" type="text" placeholder="Your email" class="form-control" maxlength="249">
													</div>
												</div>
			
												<!-- Phone number-->
												<div class="form-group row">
													<label class="col-md-3 control-label" for="email">Mobile Number</label>
													<div class="col-md-9">
														<input id="txtmobile" name="txtmobile" type="text" placeholder="Your Mobile Number" class="form-control" maxlength="10">
													</div>
												</div>
			
												<!-- Message body -->
												<div class="form-group row">
													<label class="col-md-3 control-label" for="message">Your message*</label>
													<div class="col-md-9">
														<textarea class="form-control" id="txtmessage" name="txtmessage" placeholder="Please enter your message here..." rows="5"
														 maxlength="3000"></textarea>
													</div>
												</div>
			
												<!-- Form actions -->
												<div class="form-group row">
													<div class="col-md-12 text-right">
														<button type="button" id="btnSubmit" class="btn btn-primary btn-lg" data-loading-text="Processing <i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>">Submit</button>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
			
								</div>
							</div>
						</div>
			
			
			
					</div>
				</div>
			</section>
			<!-- Contact Us -->
			<section class="pricing" id="location">
				<div class="container animatedParent animateOnce">
					<h1 class="mb-5 display-6 animated bounceInLeft">Map</h1>
					<div class="row animated fadeInUp">
						<div id="map"></div>
					</div>
				</div>
			</section>
			
			<div style="height: 100px">
				<!--https://www.jqueryscript.net/demo/Animate-Elements-In-When-They-Come-Into-View-jQuery-CSS3-Animate-It-Plugin/-->
			</div>
			
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-5">
							<span class="text">Copyright © 2020 - Palmo Industries</span>
						</div>
						<div class="col-sm-4">
							<div>
								<span class="fa-stack">
									<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
								</span>
								<a href="mailto:gopalg20703@gmail.com">Kumar.udhaya1976@gmail.com</a>
							</div>
						</div>
						<div class="col-sm-3">
							<div>
								<span class="fa-stack">
									<i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
								</span>
								www.palmoindustries.com
							</div>
						</div>
					</div>
				</div>
			</footer>
			
				<!-- Optional JavaScript -->
				<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			
				<script src="js/jquery-3.3.1.js"></script>
				<script src="js/parallax.min.js"></script>
				<script src="js/navigation.js"></script>
				<script src="js/popper.min.js"></script>
				<script src="js/bootstrap.js"></script>
				<script src="js/css3-animate-it.js"></script>
				<script src="js/jquery.devrama.slider-0.9.4.js"></script>
				<!--https://www.jqueryscript.net/demo/Animate-Elements-In-When-They-Come-Into-View-jQuery-CSS3-Animate-It-Plugin/  -->
				<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYXb7P4Ol4Hu05zY-QyRxq3Wk8NkfmLeM&callback=initMap"></script>
				<script>
								//$(document).animateScroll();

				</script>
			</body>
      
</html>