<!doctype html>
<html lang="en">
		<head>
			<!-- Required meta tags -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<meta name="description" content="Plano machine for all kinds of shaping, slotting, plano Milling, surface grinding and  tool room related works">
			<meta name="keywords" content="shaping, plano mills, slotting, surface grinding to make smooth grinding of surface, tool room for Maintenance of a job, Work Piece Material, hardening of EM24, OHNS, HCHCr, DQ Metal, Machining, maintaining, thickness, such as square, rectangle etc">
			<meta name="robots" content="index, follow">
		
			<!-- Bootstrap CSS 4.0-->
			<link rel="stylesheet" href="css/animations.css">
			<link rel="stylesheet" href="css/bootstrap.min.css">
			<link rel="stylesheet" href="css/navbar-fixed-top.css">
			<link rel="stylesheet" href="css/style.css">
			<link rel="stylesheet" href="css/carousel.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
		
		
			<link rel="apple-touch-icon" sizes="57x57" href="images/fav/apple-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="60x60" href="images/fav/apple-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="72x72" href="images/fav/apple-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="76x76" href="images/fav/apple-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="114x114" href="images/fav/apple-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="120x120" href="images/fav/apple-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="144x144" href="images/fav/apple-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="152x152" href="images/fav/apple-icon-152x152.png">
			<link rel="apple-touch-icon" sizes="180x180" href="images/fav/apple-icon-180x180.png">
			<link rel="icon" type="image/png" sizes="192x192" href="images/fav/android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32" href="images/fav/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96" href="images/fav/favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16" href="images/fav/favicon-16x16.png">
			<link rel="manifest" href="/manifest.json">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
			<meta name="theme-color" content="#ffffff">
		
			<!--<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
				<link rel="icon" href="images/favicon.ico" type="image/x-icon">-->
		
			<title>Palmo Industries</title>
		
			<style>
				@media screen and (min-width:768px) {
					.navbar-nav {
						float: none;
						text-align: center;
					}
		
					.navbar-nav li {
						display: inline-block;
						float: none;
					}
				}
			</style>
		</head>
	
		<body>
			<div class="row" id="topbar">
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<span class="fa-stack">
						<i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
					</span>
					No 12, Thiruveeti Amman Koil Street, Mannurpet, Chennai - 50
				</div>
				<div class="col-sm-4">
				</div>
				<div class="col-sm-2 text-left">
					<span class="fa-stack">
						<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
					</span>
					+91 89390 42176
				</div>
			</div>
			
			<nav class="navbar navbig navbar-expand-md navbar-dark bg-light">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand mb-0 h1" href="#">
							<img src='images/logo7.jpg'>
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
						 aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
					</div>
					<div class="collapse navbar-collapse" id="navbarNav">
						<ul class="navbar-nav ml-auto">
							<li class="nav-item active">
								<a class="nav-link scroll" href="#home">Home
									<span class="sr-only">(current)</span>
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scroll" href="#services">Services</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scroll" href="#features">Features</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scroll" href="#aboutus">About</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scroll" href="#customer">Customer</a>
							</li>
							<li class="nav-item">
								<a class="nav-link scroll" href="#contactus">Contact</a>
							</li>
							<!--
														  <li class="nav-item">
															<a class="nav-link disabled" href="#">Disabled</a>
														  </li>
										-->
						</ul>
					</div>
				</div>
			</nav>
			
			<!--Home banner-->
			<section id="home">
				<div class="banner-fade">
					<div data-lazy-background="images/banner/2C0A0589_4040.jpg">
						 <div data-pos="['0%', '110%', '40%', '40%']" data-duration="700" data-effect="move">
							<h3>Service</h3>
						</div>
						<div data-pos="['70%', '110%', '50%', '46%']" data-duration="700" data-effect="move">
							<h3>- we gets it done on time</h3>
						</div>
						<div data-pos="['80%', '110%', '60%', '46%']" data-duration="700" data-effect="move">
							<h3>- you love it.</h3>
						</div> 
					</div>
					<div data-lazy-background="images/banner/2C0A0612_4040.jpg">
						<div class="description-db" data-pos="['50%', '10%']" data-duration="1000" data-effect="fadein">
							<h3>We shape lively structures !!!</h3>
						</div>
						<div class="description-db" data-pos="['60%', '10%']" data-duration="1000" data-effect="fadein">
						<h3>We shape your thoughts</h3>
						</div>
						<div class="description-db" data-pos="['70%', '10%']" data-duration="1000" data-effect="fadein">
						<h3>We structure your ideation !!!</h3>
						</div>
					</div>
					<div data-lazy-background="images/banner/2C0A0634_4040.jpg">
						<div class="description3" data-pos="['0%', '0%', '40%', '45%']" data-duration="700" data-effect="move">
							<h3>New Thinking! New Idea!</h3> 
						</div>
						<div class="description3" data-pos="['50%', '-40%', '50%', '50%']" data-duration="700" data-effect="move">
							<h3>Good to last shape</h3>
						</div>
						<div class="description3" data-pos="['110%', '-40%', '60%', '55%']" data-duration="700" data-effect="move">
							<h3>Focus in better quality</h3>
						</div> 
					</div>
				</div>
			</section>
			<!-- Services -->
			<section id="services">
				<div class="container animatedParent animateOnce">
					<div class="row">
						<div class="col-lg-12 text-left">
							<h1 class="mb-4 display-6 animated bounceInLeft">Services</h1>
							<!--  <h2 class="text-uppercase">Services</h2>-->
							<h3 class="section-subheading text-muted animated bounceInLeft">What we do</h3>
						</div>
					</div>
					<div class="row text-center">
						<div class="col-md-4 animated bounceInUp">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x text-primary"></i>
								<i class="fa fa-life-ring fa-stack-1x fa-inverse"></i>
							</span>
							<h4 class="service-heading">Slotting</h4>
							<p class="">A reciprocating machine tool used to cut mortises and to shape openings.
								<br>Cutting T-slots in a workpiece holding device is a typical milling operation. The size of the T-slots depends upon the
								size of the T-slot bolts which will be used. Dimensions of T-slots and T-slot bolts are standardized for specific bolt
								diameters
							</p>
						</div>
						<div class="col-md-4 animated bounceInUp">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x text-primary"></i>
								<i class="fa fa-glass fa-stack-1x fa-inverse"></i>
							</span>
							<h4 class="service-heading">Shapping</h4>
							<p class="">A horizontal mill has the same sort but the cutters are mounted on a horizontal spindle (see Arbor milling) across the
								table. Many horizontal mills also feature a built-in rotary table that allows milling at various angles; this feature
								is called a universal table.</p>
						</div>
						<div class="col-md-4 animated bounceInUp">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x text-primary"></i>
								<i class="fa fa-bookmark fa-stack-1x fa-inverse"></i>
							</span>
							<h4 class="service-heading">Milling</h4>
							<p class="">Machining and maintenance of thickness such as square, rectangle and so on.
								<br>Milling is a cutting process that uses a milling cutter to remove material from the surface of a workpiece. The milling
								cutter is a rotary cutting tool, often with multiple cutting points. ... This makes metal cutting somewhat different
								(in its mechanics) from slicing softer materials with a blade </p>
						</div>
					</div>
					<div class="row text-center animatedParent animateOnce">
						<div class="col-md-4 animated bounceInUp">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x text-primary"></i>
								<i class="fa fa-superpowers fa-stack-1x fa-inverse"></i>
							</span>
							<h4 class="service-heading">Surface Grinding</h4>
							<p class="">
								We make smooth grinding of surface for given material and remove and make customer satisfaction
							</p>
						</div>
						<div class="col-md-4 animated bounceInUp">
							<span class="fa-stack fa-4x">
								<i class="fa fa-circle fa-stack-2x text-primary"></i>
								<i class="fa fa-cog fa-stack-1x fa-inverse"></i>
							</span>
							<h4 class="service-heading">Tool Room</h4>
							<p class="">
								Maintenance of job in terms of tickness, length, width as per customer requirements, slotting, hardning using EM24, OHNS,
								HCHCr, DQ Metal
							</p>
						</div>
					</div>
				</div>
			</section>
			
			<section>
				<div class="parallax-window" data-parallax="scroll" data-image-src="images/banner/2C0A0658_38.jpg"></div>
			</section>
			
			<!-- Features -->
			<section class="features" id="features">
				<div class="container animatedParent animateOnce">
					<h1 class="mb-5 display-6 animated bounceInLeft">Features</h1>
					<div class="row">
						<div class="col-md-6 animated fadeInUp">
							<h3>Safe and Automatic Loading & Unloading</h3>
							<p>
								<img src="images/loading_unloading_3.jpg">
							</p>
						</div>
						<div class="col-md-6 animated fadeInUp">
							<h3>Flexible in delivery</h3>
							<p>
								<img src="images/delivery-350.png">
							</p>
						</div>
						<!--<div class="col-md-4">
								                  <h3>Why do we use it?</h3>
													<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. /p>
								                </div>-->
					</div>
				</div>
			</section>
			<div>
				<div class="parallax-window" data-parallax="scroll" data-z-index="1" data-image-src="images/intelligence-growth-1050x700.jpg">
					<div class="stuff">
						<h2>Go Green Initiative</h2>
					</div>
				</div>
			</div>
			<!-- About Us -->
			<section class="pricing" id="aboutus">
				<div class="container animatedParent animateOnce">
					<h1 class="mb-5 display-6 animated bounceInLeft">About</h1>
					<div class="row animatedParent animateOnce">
						<div class="col-md-7 animated fadeInUp">
							<h2 class="">First featurette heading.
								<span class="text-muted">It'll blow your mind.</span>
							</h2>
							<p>Palmo Industry was established by March this year with expertise in Milling, Shapping, Surface Grinding and other Tool
								Room related works for most of the Automobile and Machinery industry
								<br> The Company comprises of couple of Plano Milling machines, Surface Grinders, Automated cranes for Loading & unloading
								of materials in and out.
							</p>
							<!--class="lead"-->
						</div>
						<div class="col-md-5 animated fadeInUp">
							<img class="featurette-image img-responsive center-block" src="images/about-us.jpg" alt="Generic placeholder image">
						</div>
					</div>
				</div>
			</section>
			
			<!--
								  <section class="pricing" id="aboutus1">
									  <div class="container">
									  <h1 class="mb-5 display-6">Pricing</h1>
										<div class="row no-gutters">
										  <div class="col-md-4">
											  <div class="card bg-light mb-3" style="max-width: 18rem;">
											  	<div class="card-header">Basic</div>
											  	<div class="card-body">The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</div>
											  </div>
										  </div>
										</div>
									  </div>
								  </section>
						-->
			
			<section>
				<div class="parallax-window" data-parallax="scroll" data-image-src="images/banner/2C0A0616_33.jpg"></div>
			</section>
			
			
			<!-- Customer -->
			<section class="pricing" id="customer">
				<div class="container animatedParent animateOnce">
					<h1 class="mb-5 display-6 animated bounceInLeft">Customer</h1>
					<div class="row">
						<div class="row justify-content-md-center">
							<div class="card-deck col-sm-12 animatedParent animateOnce">
								<div class="card animated fadeInUp slow">
									<!--<img class="card-img-top" src="images/flag.png" alt="Card image cap">-->
									<div class="card-body">
										<h5 class="card-title">Mahalakshmi Tools, Avadi</h5>
										<!--<p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
																  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
									</div>
								</div>
								<div class="card animated fadeInUp slow">
									<!--<img class="card-img-top" src="images/flag.png" alt="Card image cap">-->
									<div class="card-body">
										<h5 class="card-title">Dynamic Technology, Ambattur</h5>
										<!--<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
																  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
									</div>
								</div>
								<div class="card animated fadeInUp slow">
									<!--<img class="card-img-top" src="images/flag.png" alt="Card image cap">-->
									<div class="card-body">
										<h5 class="card-title">Pavithra Auto Private Limited, sozambedu, Ambattur</h5>
										<!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
																  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
									</div>
								</div>
								<div class="card animated fadeInUp slow">
									<!--<img class="card-img-top" src="images/flag.png" alt="Card image cap">-->
									<div class="card-body">
										<h5 class="card-title">JDS Sriperumbudur</h5>
										<!--<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
																  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<div style="height: 50px">
				<!--https://www.jqueryscript.net/demo/Animate-Elements-In-When-They-Come-Into-View-jQuery-CSS3-Animate-It-Plugin/-->
			
			</div>
			
			<!-- Contact Us -->
			<section class="pricing" id="contactus">
				<div class="container animatedParent animateOnce">
					<h1 class="mb-5 display-6 animated bounceInLeft">Contact</h1>
					<div class="row animated fadeInUp">
						<div class="col-md-5">
							<div class="address-box">
								<div class="contact-head">
									<span class="fa-stack">
										<i class="fa fas fa-address-card fa-stack-2x fa-inverse"></i>
									</span>
									<span>
										<h4>PALMO INDUSTRIES</h4>
									</span>
								</div>
			
								<div class="contactIcon">
									<span class="fa-stack">
										<i class="fa fas fa-location-arrow fa-stack-1x fa-inverse"></i>
									</span>
			
									<div class="contact-detail">No 12, Thiruveeti Amman Koil Street
										<br>Mannurpet, Chennai - 50</div>
			
								</div>
			
								<div class="contactIcon">
									<span class="fa-stack">
										<i class="fa fa-phone fa-stack-1x fa-inverse"></i>
									</span>
									<div class="contact-detail">+91 89390 42176</div>
								</div>
			
								<div class="contactIcon">
									<span class="fa-stack">
										<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
									</span>
									<div class="contact-detail">
										<a href="mailto:gopalg20703@gmail.com">gopalg20703@gmail.com</a>
									</div>
								</div>
							</div>
						</div>
			
						<div class="col-md-7">
							<div class="card bg-light mb-3">
								<div class="card-body">
									<div class="well well-sm">
										<form class="form-horizontal" action="" method="post">
											<fieldset>
												<h2 class="mb-5 display-6">Send Email</h2>
												<legend class="text-center"></legend>
			
												<div class="col-sm-10 col-sm-12">
													<div class="form-group" style="height: 50px">
														<div class="alert alert-warning" id="div-alert" style="height: 50px;display: none">
															<span class="glyphicon glyphicon-info-sign"></span>
															<label class="control-label" id="label-alert"></label>
														</div>
													</div>
												</div>
			
												<!-- Name input-->
												<div class="form-group row">
													<label class="col-md-3 control-label" for="name">Name*</label>
													<div class="col-md-9">
														<input id="txtname" name="txtname" type="text" placeholder="Your name" class="form-control" maxlength="200">
													</div>
												</div>
			
												<!-- Email input-->
												<div class="form-group row">
													<label class="col-md-3 control-label" for="email">Your E-mail*</label>
													<div class="col-md-9">
														<input id="txtemail" name="txtemail" type="text" placeholder="Your email" class="form-control" maxlength="249">
													</div>
												</div>
			
												<!-- Phone number-->
												<div class="form-group row">
													<label class="col-md-3 control-label" for="email">Mobile Number</label>
													<div class="col-md-9">
														<input id="txtmobile" name="txtmobile" type="text" placeholder="Your Mobile Number" class="form-control" maxlength="10">
													</div>
												</div>
			
												<!-- Message body -->
												<div class="form-group row">
													<label class="col-md-3 control-label" for="message">Your message*</label>
													<div class="col-md-9">
														<textarea class="form-control" id="txtmessage" name="txtmessage" placeholder="Please enter your message here..." rows="5"
														 maxlength="3000"></textarea>
													</div>
												</div>
			
												<!-- Form actions -->
												<div class="form-group row">
													<div class="col-md-12 text-right">
														<button type="button" id="btnSubmit" class="btn btn-primary btn-lg" data-loading-text="Processing <i class='fa fa-spinner fa-spin fa-fw' aria-hidden='true'></i>">Submit</button>
													</div>
												</div>
											</fieldset>
										</form>
									</div>
			
								</div>
							</div>
						</div>
			
			
			
					</div>
				</div>
			</section>
			<!-- Contact Us -->
			<section class="pricing" id="location">
				<div class="container animatedParent animateOnce">
					<h1 class="mb-5 display-6 animated bounceInLeft">Map</h1>
					<div class="row animated fadeInUp">
						<div id="map"></div>
					</div>
				</div>
			</section>
			
			<div style="height: 100px">
				<!--https://www.jqueryscript.net/demo/Animate-Elements-In-When-They-Come-Into-View-jQuery-CSS3-Animate-It-Plugin/-->
			</div>
			
			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-sm-5">
							<span class="text">Copyright © 2018 - Palmo Industries</span>
						</div>
						<div class="col-sm-4">
							<div>
								<span class="fa-stack">
									<i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
								</span>
								<a href="mailto:gopalg20703@gmail.com">gopalg20703@gmail.com</a>
							</div>
						</div>
						<div class="col-sm-3">
							<div>
								<span class="fa-stack">
									<i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
								</span>
								www.palmo.co
							</div>
						</div>
					</div>
				</div>
			</footer>
			
				<!-- Optional JavaScript -->
				<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			
				<script src="js/jquery-3.3.1.js"></script>
				<script src="js/parallax.min.js"></script>
				<script src="js/navigation.js"></script>
				<script src="js/popper.min.js"></script>
				<script src="js/bootstrap.js"></script>
				<script src="js/css3-animate-it.js"></script>
				<script src="js/jquery.devrama.slider-0.9.4.js"></script>
				<!--https://www.jqueryscript.net/demo/Animate-Elements-In-When-They-Come-Into-View-jQuery-CSS3-Animate-It-Plugin/  -->
				<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYXb7P4Ol4Hu05zY-QyRxq3Wk8NkfmLeM&callback=initMap"></script>
				<script>
								//$(document).animateScroll();

				</script>
			</body>
      
</html>